<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<script src="https://cdn.bootcss.com/react/15.5.0/react.js"></script>
	<script src="https://cdn.bootcss.com/react/15.5.0/react-dom.js"></script>
	<script src="https://cdn.staticfile.org/babel-standalone/6.26.0/babel.min.js"></script>
	<script type="text/babel" src="./index.jsx"></script>
	<!-- <script type="text/babel" src="./src/views/app.jsx"></script> -->
	<!-- <script type="text/babel" src="./src/views/app2.js"></script> -->
	<script src="https://cdn.bootcss.com/echarts/4.3.0-rc.1/echarts.min.js"></script>
	<title>Document</title>
</head>
<body>
	<!-- <img src="./pg.jpeg" alt="tupian"> -->
	<div id="app"></div>
</body>
</html>
